body{
   margin-top: 100px;
   background-color: white;
}

.wrap{
   border: 1px solid black;
   height: auto;
   width: 500px;
   margin: auto;
   background-color: white;

}

.par{
   text-align: center;
   color: black;
   font-style: normal;
}

.inp{
   margin: 30px 0 0px 10px;
   padding: 0 0 0 5px;
   width: 70%;
   height: 25px;
   border: 1px solid;
}

.bt{
   width: 23%;
   height: 29px;
   color:whitesmoke;
   background-color: rgb(38, 114, 35);
   border: 1px solid;
}

ul{
   list-style: none;
   margin: 0;
   padding: 0;
}

.list{
   margin-bottom: auto;
}

.btn{
   height: 17px;
   width: 80px;
   background: rgb(161, 51, 51);
   border: none;
   color: whitesmoke;
   cursor: pointer;
   position: relative;
   z-index: 11;
}

.li{
   margin: 10px 10px 10px 10px ;
   padding: 4px 8px;
   background-color: white;
   border: 1px solid black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   width: 460px;
}

.li::before{
   content: "•";
   color:black;
}

.li-active  {
   color: rgb(39, 38, 38);
   background: rgb(79, 75, 75);
   z-index: 5 ;
}
